/*---VARIABLES---*/
:root {
  /* --size-10px: 10px;
  --size-20px: 20px; */
}



html {
  color: rgba(255, 255, 255, 0.75);
  
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(https://png.pngtree.com/thumb_back/fh260/background/20190619/pngtree-sweet-avocado-seamless-pattern-image_130885.jpg);
  /* background: url(https://www.cbc.ca/kidsnews/content/Frogs-school.jpg); */
  background-size: auto;
  background-position: top;
}
/*---- added for groceries ----*/
/* .groceryList {
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: black;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 1rem;
  border-radius: 1rem;
} */
/*---- remove above! ----*/

.navBar {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* background: url(https://images.unsplash.com/photo-1508612227635-e7cbb9bdf54d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1440&q=80); */
  background-position: center;
  background-size: cover;
  background: linear-gradient(.25turn,rgb(26, 40, 43) , rgb(8, 12, 14));
  padding: 0.8rem 0.8rem;
  height: 6.4rem;
  margin: 0;
  font-weight: 600;
  width: 100%;
}
.navItems {
  display: flex;
  justify-content: space-around;
  width: 75%;
  /* transition: cubic-bezier(1, 0, 0, 1);
  transition-duration: 0.75s; */
  /* border: 1px solid white */
}
.navItems, .homeBtn, .signOut {
  font-size: 2rem;
}
.navItem {
  padding: 0.4rem 1.2rem;
  /* background: rgba(0, 0, 255, 0.384); */
  border-radius: 1.2rem;
  box-sizing: border-box;
}
.toggle {
  display: none;
}
.navItem:hover {
  background:rgba(255, 255, 255, 0.2);
}

/* Show the object or don't */
.show { display: block; }

.noShow { display: none; }


/* @media only screen and (min-width: 613px) {
  .navItems {
    display: flex;
  }
}       */
@media only screen and (max-width: 846px) {
  /* html {
    font-size: 93.75%;
  } */
  .navItems, .homeBtn, .signOut {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 679px) {
  .navItems {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    top: 5.2rem;
    right: 9.6rem;
    background: linear-gradient(0.25turn, rgb(26, 40, 43) 1%, rgb(8, 12, 14));
    width: 12.8rem;
  }
  
  .toggle {
    display: block;
    position: absolute;
    width: auto;
    top: .88rem;
    right: 13.6rem;
  }
  .flexShow { display: flex; }
}